<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CatsUI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>331150FB004450A5751037FF6F33FFF33B5B02AC</string>
				<key>dateExpires</key>
				<string>28.05.2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D85QWSUNYA.ua.edu.ukma.apple-env.zhytnetskyi.CatsUI</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D85QWSUNYA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CatsUI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b7dfe22a-564d-41a5-8ca2-e1ffbe983b91</string>
				<key>dateExpires</key>
				<string>28.05.2026</string>
				<key>name</key>
				<string>Apple-ENV Zhytnetskyi Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D85QWSUNYA</string>
				<key>name</key>
				<string>National University of Kyiv-Mohyla Academy</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
